{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
    <!-- Link the CSS file -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Are you sure you want to delete this item?</h1>

    <form method="POST">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
        <a href="{% url 'about-detail' %}">Cancel</a>
    </form>
</body>
</html>
